# Java
*.class
*.jar
*.war
*.ear

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
release.properties

# Gradle
.gradle/
build/

# IntelliJ
*.iml
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
